{% extends 'shop/basic.html' %}
{% block title %} Home Page {% endblock %}
{% block css %} 
        .col-md-3
        {
          display: inline-block;
          margin-left: -4px;
        }

        /* Dimensions of 'Product' Class image can be edited from here */ 
        .col-md-3 img
        {
          max-width:260px;
          height:272px;
        }

        /* Carousel Indicator Color can be changed from here */
        body .carousel-indicators li
        {
          background-color: blue;
        }

        /* Carousel Control icon (i.e arrow) can be changed from here */ 
        body .carousel-control-prev-icon, 
        body .carousel-control-next-icon
        {
          background-color: red;
        }

        .carousel-control-prev, 
        .carousel-control-next
        {
          top:auto;
          bottom:auto;
          padding-top:222px;                                  /* 'padding-top' added because on adding row within carousel...the control arrows shift their position */ 
        }

        .carousel-indicators .active
        {
          background-color: blue;
        }

        body .no-padding
        {
          padding-left: 0;
          padding-right: 0;
        }

        body .carousel-indicators
        {
          bottom: 0;
        }
        
{% endblock %}

{% block body %}
{% load static %}
<div class="container">


<!-- Slideshow starts here -->
{% for product,range,nSlides in allProds %}                               <!-- 'for' loop created for implementing multiple Carousels -->
<h1>Flash Sale on {{product.0.category}} - Recommended Items</h1>         <!-- Displaying text above the carousel indicating the Category of Product 'category' is the name assigned for category of product in the DB so passed here as well -->
<div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

      {% for i in range %}
      <!-- 'forloop.parentloop.counter' helps to move to next slide when we click on the lower blue tab 'parentloop' because there is a MAIN 'for' loop which is responsible for all sub-carousels -->
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>

    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
       

       {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <!-- Aligning Products within the card towards the center -->
          <div class="card align-text-center" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">         
            <!-- '/media/{{i.image}}' used here which is used to fetch the image from the media directory based on index i.e 'i' of product -->
            <!-- /media/ added because it is the MEDIA URL -->
            
            <div class="card-body">
              
              <!-- Fetching 'product_name' from database using {{i.product_name}} where 'i' is in a loop and indicates which product is to be chosen -->
              <!-- 'id' assigned here SPECIFICALLY for Fetching the added product name in the Popover -->
              <h6 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h6>

              <!-- Fetching 'Description' from database using 'i' and Slicing it only till 52 characters and if more characters then they are displayed as ... on the card -->
              <p class="card-text">{{i.desc|slice:"0:53"}}....</p>

              <!-- Fetching 'price' from the database entry on the basis of 'i' -->
              <h6 class="card-title">Price:<span id="pricepr{{i.id}}">{{i.price}}</span> </h6>
              
              <!-- <span> Added for targeting purpose with respect to '+' and '-' Buttons -->
              <!-- The 'id' assigned for <span> tag is 'divpr{{i.id}}'-->
              <span id="divpr{{i.id}}" class="divpr">
              <button id= pr{{i.id}} class="btn btn-primary cart">Add To Cart </button>
              </span>

              <!-- Referencing to '/products' page after Clicking on QuickView Button -->
              <a href="/shop/products/{{i.id}}" button id= qv{{i.id}} class="btn btn-primary cart">QuickView </button> </a>
            </div>
          </div>
        </div>

        <!-- The 'if' code below tells us how slides change when products added exceed more than 4 -->
        <!-- 'forloop.counter' 'divisbleby' 'forloop.last' are all Django's Internal Functions -->
        <!-- The Block inside of 'if' tells to add a new 'carousel-item' i.e to add a new Slide with 4 empty Slots -->
        <!-- The 'if' Condition initially checks if number of products accessed through for loop is divisble by 4 or not and then it checks if products are present or not -->
        <!-- The last condition of 'if' is that whether the element to be added is the last element or not. If it is then no more slides need to be added -->
        <!-- Here 'divisbleby' is considered to be 4 because 'forloop.counter' begins from 1 -->
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div> <div class="carousel-item">
        {% endif %}
        
        {% endfor %}
      </div>         <!-- Once 'last' element occurs 'if' ends and we reach here -->   

      
    </div>
  </div>
    <!-- Left and Right controls for the slide -->
    
    <!-- 'forloop.counter' added here so that Carousel control icons work on ANY CAROUSEL and not just a particular one -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>

    <!-- 'forloop.counter' added here so that Carousel control icons work on ANY CAROUSEL and not just a particular one -->
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
  </div>
    {% endfor %}           <!-- The 'for' loop created for multiple Carousels ends here which contains All card details + Carousel Controls -->

{% endblock %}
</div>

{% block js %}

<script>
  // Find out the Cart Items from localStorage

  // If 'cart' item DOES NOT EXIST then create a blank dictionary named 'cart' which accepts key-value pairs.
  if(localStorage.getItem('cart') == null)
  {
  var cart = {};
  }
  else
  {
  // Load the existing cart currently present
  cart = JSON.parse(localStorage.getItem('cart'));
  updateCart(cart);          // If 'cart' already Exists then display the no.of items within it along with '+' and '-' tags.
  }

  // If the add cart button is clicked then add/increment the item
  $('.divpr').on('click','button.cart',function(){
  var idstr = this.id.toString();                            // The clicked 'id' of the Button would be stored in the form of string.
  console.log(idstr);
  if (cart[idstr] !=undefined)                               // If an item with the current id already exists
  {
    qty = cart[idstr] + 1;                                   // Simply increment the quantity w.r.t id of a product
  }
  else
  {
    qty = 1;
    name = document.getElementById('name' + idstr).innerHTML;      // Name of the Product is also fetched when it is added newly into the cart.
    price = document.getElementById('price' + idstr).innerHTML;    // Price to be fetched based on the Product currently selected
  
    cart[idstr] = [qty,name,parseInt(price)];                      // We need to parse the Price and then make it a part of the array.
  }
  updateCart(cart);
});

  // Add Popover to Cart
  $('#popcart').popover();                                    // Activates the Popover
  $.fn.tooltip.Constructor.Default.whiteList.button = [] 
  $('#popcart').popover({ delay: 100 });
   updatePopover(cart);                                    // Function Called
   function updatePopover(cart)
   {
       console.log('We are inside updatePopover');
       var popStr = "";                                     // Initially The String to be displayed is empty.
       popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";  // We assign a margin from both 'x' and 'y' perspective.
       var i = 1;                                           // No. of items added in cart i.e 1,2,3,4
       for (var item in cart){
           popStr = popStr + "<b>" + i + "</b>. ";          // Spacing provided after the number and the number is in 'Bold'
           popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';      // We fetch the Product through its 'id' assigned with it and quantity is obtained on the current value of the loop
           i = i+1;                                         // Item added gets incremented by 1
       }
      popStr = popStr + "</div> <a href='/shop/checkout'> <button class='btn btn-primary mx-2 my-2' id ='checkout'> Checkout </button> </a> <button class='btn btn-primary' <a id ='clearcart' href='#'> Clear Cart </a> </button>  "       
      
      console.log(popStr);
      document.getElementById('popcart').setAttribute('data-content', popStr);     // Displays the Contents within the popover.
      $('#popcart').popover('show');
   }

  $('[data-toggle="popover"]').on('shown.bs.popover', function() {
    // do something…
    console.log($('#clearcart'))
    $('#clearcart').click(function() {

        console.log('Inside Clear Cart Function')
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) 
        {
            document.getElementById('div' + item).innerHTML = '<button id="' + item + '"class=btn btn-primary cart">Add To Cart</button>'
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);

    });
});

  function updateCart(cart)
  {
    var sum = 0;               // Initially no elements are present in the cart
    for (var item in cart)     // If Elements are there in cart
    {
      sum = sum + cart[item][0];     // The elements start getting added in the cart
      console.log(cart);

      // Replace the 'Add to Cart' text i.e innerHTML with 2 buttons and the currently available amount of products of that type in cart.
      // 'div' + item here is used to fetch the id of the Button Clicked 'divpr' is the code for 'Add to Cart' button according to <span> tag..so we only pass 'div' + each item has a 'id' of 'pr' so it recognizes the button clicked.
      // ""<span id='val" + item + "''>" + cart[item][0] + "</span>"" This is used to return the value of the no.of products present. [0] is used because only one product can be given attention at a time.

      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;                          // The total Cart size is displayed
    console.log(cart);
    updatePopover(cart);
  }

// If plus or minus button is clicked then change the cart as well as display value
$('.divpr').on("click","button.minus",function(){
a = this.id.slice(7, );                                                      // Slicing Done because id initially is 'minuspr7' so we have to remove 'minus' from the id
    cart['pr' + a][0] = cart['pr' + a][0] - 1;                               // From Existing value of Product decrement by 1
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);                      // Written to prevent the Product quantites being negative..i.e once the cart value becomes 0 the next '-' click would also keep it to zero due to the 'max' function used over there.
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];      // Display in the <span> tag the current value
    // If Corresponding product isn't in cart or if its quantity becomes 0
    if (cart['pr' + a][0] == 0 )
    {
      // Rather than showing 0 qty just show the 'Add to Cart' button for that product
      document.getElementById('divpr' + a).innerHTML = '<button id ="pr'+a+'" class = "btn btn-primary cart"> Add To Cart </button>'
      // Delete the product from the cart when it turns 0 
      delete cart ['pr' + a];
    }
    else
    {
      // Add Item Normally
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    }
      updateCart(cart);                                                        
});

$('.divpr').on("click","button.plus",function()
{
    a = this.id.slice(6, );                                                  // Slicing Done because id initially is 'pluspr7' so we have to remove 'plus' from the id
    cart['pr' + a][0] = cart['pr' + a][0] + 1;                               // From Existing value of Product increment by 1
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];      // Written to prevent the Product quantites being negative..i.e once the cart value becomes 0 the next '-' click would also keep it to zero due to the 'max' function used over there.
    updateCart(cart); 
});
</script> 

{% endblock %}

